[Setup]
server = irc.freenode.net
channel = #cvn-unifications
nickname = SULWatcher
alias = WatcherSUL
wmserver = irc.wikimedia.org
rcfeed = #central
password = 
opernick =
operpass =
owner = wikimedia/mikelifeguard
privileged = wikimedia/mikelifeguard
whitelist = 
help = This bot watches the unification feed. The manual is located at http://toolserver.org/~stewardbots/SULWatcher - you can issue commands to either nick & the result will be the same.
quitmsg = Goodbye!

[0]
regex = poop
reason = whee!
adder = wikimedia/mikelifeguard

[1]
regex = cock
reason = test
adder = wikimedia/mikelifeguard
