[Setup]
server = irc.freenode.net
channel = #cvn-unifications
nickname = SULWatcher
alias = WatcherSUL
wmserver = irc.wikimedia.org
rcfeed = #central
password = 
owner = wikibooks/mike.lifeguard
privileged = wikibooks/mike.lifeguard
whitelist = 
help = This bot watches the unification feed. The manual is located at [[m:User:Mike.lifeguard/SULWatcher]]. You can issue commands to either nick & the result will be the same.
quitmsg = Goodbye!

[0]
regex = poop
reason = whee!
adder = wikibooks/mike.lifeguard

[1]
regex = cock
reason = test
adder = wikibooks/mike.lifeguard
